html {
    font-family: "Karla", sans-serif;
    font-size: 1rem;
}

#container-bar {
    position: fixed;
    margin-top: 0rem;
    height: 2.5rem;
    width: 100%;
    border-radius: 1rem;
    background-color: #333;
}

#logo {
    position: relative;
    top: 25%;
    left: 1rem;
}

#logo-icon {
    position: relative;
    display: inline-block;
    height: 1rem;
    top: 0.2rem;
}

#title {
    position: relative;
    display: inline-block;
    height: 1rem;
    color: #fff;
    left: 0.2rem;
}