html, body {
    font-family: "Karla", sans-serif;
    font-size: 1rem;
    min-height: 2.5rem;
    min-width: 40rem;
    margin-top: -0.2rem;
}

#FyBarApp {
    position: fixed;
    display: inline-block;
    height: 2.5rem;
    min-width: 100%;
    border-radius: 2px;
    margin-top: 0.5rem;
    margin-left: -0.3rem;
    background-color: #333;
    padding-bottom: 1.5rem;
}

#logo {
    position: absolute;
    display: inline-block;
    margin-top: 0.75rem;
    left: 1rem;
    height: 1rem;
}

#logo-icon {
    position: relative;
    height: 1rem;
    top: 0.2rem;
}

#title {
    position: relative;
    display: inline-block;
    height: 1rem;
    color: #fff;
    left: 0.2rem;
}

#authorize-button {
    color: #47de6c;
    background-color: #333;
    border: none;
}

#player {
    position: absolute;
    display: inline-block;
    align-content: center;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 50%;
}

#play-button {
    margin-top: -0.65rem;
    position: relative;
    height: 2rem;
}

#play-button-img {
    position: relative;
    height: 2rem;
    width: 2rem;
}